
#footer {
  margin-top: auto;
  background-color: #000945;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 0.95rem;
  width: 100%; 
}

#footer div {
  width: 1px;
  height: 20px;
  background-color: white;
}

#footer button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#footer button:hover {
  background-color: white;
  color: #000945;
}
